*.vcd
*.log
*.o
*.elf
cv32e40x-soc/1
test_*.vcd
.git_backup/
*.gch
*.zip
build/
obj_dir/
cv32e40x-soc/build/
cv32e40x-soc/trace_vector.vcd
.vscode/
__pycache__/
*.backup
.gemini/
chirir.jpg
*.gch
.vscode/
__pycache__/
*.backup
*.vcd
*.gch
.gemini/
chirir.jpg
*.vcd
*.gch
obj_dir/
*.vcd
*.gch
obj_dir/
